@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body {
    font-family: 'Lato', Verdana, Helvetica, Calibri;;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    color: #333; /* Ensuring text color is set for good contrast */
    padding-bottom: 70px; /* Adds padding to the bottom of the page to prevent content from being hidden by the footer */
}

.title {
font-size: 40px; /* Increased size for better visibility */
margin-bottom: 20px; /* Space below the title */
}

/* Container holding the cards */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Individual cards */
.card {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Adds a subtle shadow for a 3D effect */
    transition: 0.3s;                        /* Smooth transition for hover effects */
    border-radius: 10px;                     /* Rounds the corners of the card */
    flex: 1 0 21%;                           /* Flex basis at 21% to fit 4 cards in a row with some margin */
    margin: 10px;                            /* Margin around cards */
    display: flex;
    flex-direction: column;                  /* Makes the card flex container */
    justify-content: space-between;          /* Distributes space evenly inside the card */
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);  /* Darker shadow on hover for a lifting effect */
}

.card-body {
    padding: 15px;                          /* Padding inside the card */
    flex-grow: 1;                           /* Allows the body to expand to fill available space */
}

.card-title {
    font-size: 1.25rem;                     /* Title size */
}

.card-text {
    font-size: 1rem;                        /* Text size */
    margin-bottom: 15px;                    /* Space above the button */
}

.code-card-container {
  background-color: #f5f5f5;
  transition: 0.3s; 
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  width: 48%; /* Adjust width to allow side-by-side placement */
  min-height: 250px; /* Maintain a minimum height */
  margin-right: 2%; /* Add right margin for spacing between cards */
  float: left; /* Ensures cards are aligned left and wrap as needed */
  margin-bottom: 20px; /* Space between stacked cards */
}

.code-card-container:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);  /* Darker shadow on hover for a lifting effect */
}

.code-card-header {
  background-color: #f5f5f5;
  color: #333;
  padding: 10px 15px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 18px;
}

.code-card-body {
  padding: 10px; /* Reduced padding */
  overflow: auto; /* Keep auto to allow scrolling if needed */
}

.code-pre, .code {
  background-color: transparent; /* Ensures background is transparent */
  color: #333;
  padding: 8px; /* Reduced padding around code for tighter fit */
  font-family: 'Courier New', Courier, monospace;
  white-space: pre; /* Keeps formatting and prevents word wrapping */
  word-wrap: normal;
  overflow: visible; /* Hide overflow */
  margin: 0;
}

@media (max-width: 768px) {
  .code-card-container {
      width: 100%; /* Full width on smaller screens for better readability */
      margin-right: 0; /* Remove margin to fit screen */
      margin-bottom: 20px; /* Space between stacked cards on small screens */
  }
}

.btn-dark {
    background-color: #000;
    transition:0.3s; /* Smooth transition on hover */
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    display: block; /* Ensures the button spans the width of the card */
    text-align: center;
    margin-bottom: 10px; /* Adds margin at the bottom for visual spacing */
}

.btn-dark:hover {
   padding: 12px 22px; /* Slightly larger padding on hover for a lifting effect */ 
}

.btn-primary {
    background-color: #007bff;              /* Primary button color, typical of Bootstrap */
    color: white;
    border: none;
}

.footer {
  background-color: #f8f9fa; /* Light gray background */
  color: #6c757d; /* Muted text color */
  text-align: center;
  padding: 10px 0; /* Padding above and below the text */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; /* Ensures the footer is full width of the screen */
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Subtle shadow at the top of the footer */
}

